	@mixin border-radius($radius: 50%){
		-webkit-border-radius: $radius;
		-moz-border-radius: $radius;
		border-radius: $radius;
	}

	body{
		background-image: url('background.jpg');
		background-repeat: no-repeat;
	}
	#wrapper{
		width: 800px;
		height: 500px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		background: rgba(215, 105, 42, 0.5);

	}
	#deel1{
		height: 90px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20px;
	}
	#deel2{
		height: 150px;
	}
	#deel3{
		height: 150px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
	#belgie{
		width: 100px;
		height: 60px;
		float:left;
		margin-right: 60px;
	}
	#brasilie{
		width: 100px;
		height: 60px;
		float: right;
	}
	h1{
		float:left;
	}
	.scores{
		float:left;
		margin-left: 20px;
		margin-right: 20px;	}
	h3{
		float: left;
	}
	#buttonPlus1{
		float: left;
	}
	#buttonMin1{
		float: left;
	}
	#buttonPlus2{
		float: right;
	}
	#buttonMin2{
		float: right;
	}
	#shots{
		width: 240px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	#fouls{
		width: 170px;
		height: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	button{
	@include border-radius;
		width: 25px;
		height: 25px;
		line-height: 22px;
		border: 2px solid #f5f5f5;
		color: #f5f5f5;
		text-align: center;
		background: #464646;
		font-size: 15px;
		font-weight: bold;
	}
	#buttonrij1{
		height: 80px;
		width: 112px;
		margin-left: auto;
		margin-right: auto;
	}