	body{
		background-color: lightgray;
	}
	#wrapper{
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
	#belgie{
		width: 100px;
		height: 60px;
	}
	#brasilie{
		width: 100px;
		height: 60px;
		float: right;
	}